/DockerSamples/dockers/composeapp/obj
/DockerSamples/dockers/composeapp/bin
/DockerSamples/dockers/volapp/obj
/DockerSamples/dockers/volapp/bin
/DockerSamples/dockers/webapp/obj
/DockerSamples/dockers/webapp/bin
/DockerSamples/dockers/.vs
